.size{
    font-size: 50px;
}
.navbar-nav{
    margin-right: 150px;
}
.m{
    margin-right: 8px;
}
.get{
    font-size: 60px;
}
.started{
    font-size: 1.4em;
}
.text{
    margin-left: 10px;
    margin-top: 10px;
}
.course{
    font-size: 1.4em;
}
.margin{
    margin-top: 100px;
}
.Success{
    margin-left: 110px;
}
.text-white{
    text-align: center;
}
.foot{
    padding-top: 100px;
    padding-bottom: 100px;
}
@media screen and (max-width: 991px){
        .company{
            display: none;
        }
}
@media screen and (min-width: 992px) {
    .response{
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .students{
        display: none;
    }    
}
@media screen and (max-width: 991px){
    .Register{
        text-align: center;
    }
}
